body {
	font-family: "Titillium Web" !important;
	font-weight: 400;
}

.input-micro, input.input-micro {
	width: 30px;
}

div#main ul{
	margin: 0;
	list-style: none inside;
}

body.desktop a.program-button{
	width: 400px;
	text-align: center;
	margin-bottom: 10px;
}

body.tablet a.program-button,
body.phone a.program-button{
	width: 100%;
	text-align: center;
	margin-bottom: 5px;
}

div.program-section {
	margin-top: 30px;
	box-shadow: 1px 1px 2px #aaa;
	-webkit-box-shadow: 1px 1px 3px #aaa;
	-moz-box-shadow: 1px 1px 3px #aaa;
	padding: 20px 5px 30px 5px;
}

div.program-section table thead tr td {
	font-weight: bold;
}

div.program-section ul {
	list-style: none outside;
}

div.program-section ul li {
	text-align: right;
}

div.program-section input[type="text"] {
	width: 175px;
}

div.program-section input[type="text"].input-mini {
	width: 30px;
}

div#ramp table ul li {
	float: left;
	clear: both;
	width: 66%;
	text-align: left;
}

div#ramp table ul li span.value {
	float: right;
}

div#ramp table ul li span.data-label {
	font-weight: bold;
}

div#ramp table td.ramp-temp {
	font-size: 20px;
}

div.program-section ul li.fo2-check {
	padding-right: 34px;
}

div.program-section ul li.fo2-check input {
	margin-left: 10px;
	position: relative;
	top: -3px;
}

span.units {
	display: inline-block;
	width: 35px;
}

div.program-section ul li.offset-input {
	margin-right: 35px;
}

div.program-section ul li.offset-input select {
	width: 143px;
}

div.program-section ul li.EMF-check {
	padding-right: 35px;
}

div.program-section ul li.EMF-check input{
	margin-left:  10px;
}

div.program-section ul li.buttons {
	position: relative;
	padding-right: 35px;
}

p.calc-header{
	font-size: 1.2em;
}

td.pad {
	padding-left: 29px;
}
